#profile-photo {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffb6c1;
    box-shadow: 0 4px 12px rgba(255, 182, 193, 0.5);
}

body {
    font-family: "Google Sans", sans-serif;
}

.page-layout {
    display: flex;
    align-items: flex-start;
}

.profile-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inbox-container {
    flex: 3;
    align-items: center;
}

.inbox-container h2 {
    text-align: center;
}